html, body {
            margin: 0;
            padding: 0;
            width: 340px;
            height: 510px;
            overflow: hidden;
            background: rgb(0, 0, 0);
            font-family: "Inter", sans-serif;
        }

        .poster {

            position: relative;

            width: 500px;

            height: 750px;
            transform: scale(0.68);
            transform-origin: top left;

        }



        .background {

            position: absolute;

            width: 100%;

            height: 100%;

            object-fit: cover;

        }



        .overlay {

            position: absolute;

            width: 100%;

            height: 100%;
            background:
                linear-gradient(
                    to top,
                    rgba(0,0,0,0.9),
                    rgba(0,0,0,0) 45%
                );
         }
       
        .rank {
            position: absolute;
            top: 25px;
            left: 40px;
            color: transparent;
            background: linear-gradient(to bottom, rgb(229, 229, 229) 55%, rgba(255, 255, 255, 0));
            background-clip: text;
            border-radius: 12px;
            font-size: 130px;
            font-weight: 700;
            filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.569));
        }



        .logo {

            position: absolute;

            bottom: 120px;

            left: 50%;

            transform:
                translateX(-50%);

            width: 85%;

            max-height: 180px;

            object-fit: contain;

        }



        .title {

            position: absolute;

            bottom: 120px;

            left: 25px;

            right: 25px;

            text-align: center;

            color: white;

            font-size: 80px;

            font-weight: bold;

            text-shadow:
                0 3px 12px black;

        }
        .genre {
            color: rgba(255, 255, 255, 0.533);
            font-size: 40px;
            font-weight: 600;
            letter-spacing: 0.5px;
            bottom: 48px;
            position: absolute;
            left: 25px;
            right: 25px;
            text-align: center;
        }